@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.w100 { font-weight: 100; }
.w200 { font-weight: 200; }
.w300 { font-weight: 300; }
.w400 { font-weight: 400; }
.w500 { font-weight: 500; }
.w600 { font-weight: 600; }
.w700 { font-weight: 700; }
.w800 { font-weight: 800; }
.w900 { font-weight: 900; }

.reveal section img {
  border: 0;
  box-shadow: none;
}

img.stars {
  vertical-align: middle;
}

.reveal {
  font-family: Roboto;
}

h1 {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 900;
}

.reveal pre {
  /* width: 120%; */
  /* margin-left: -10%; */
  border: 0 !important;
  box-shadow: none !important;
}

.reveal .slides a {
  color: #000 !important;
  text-decoration: underline !important;
}

.reveal .slides a:hover {
  color: #777 !important;
  text-decoration: underline !important;
}

.reveal a.black {
  text-decoration: none !important;
}

.reveal a.black:hover {
  color: #777 !important;
  text-decoration: underline !important;
}

.reveal .controls {
  color: #000 !important;
}

#title-footer {
  background: white !important;
}

#title-footer a, .reveal .slide-number a {
  text-decoration: none !important;
}
#title-footer a:hover, .reveal .slide-number a:hover {
  text-decoration: underline !important;
}

#title-footer #notification p, .reveal .slide-number {
  font-family: Roboto !important;
  font-weight: 500 !important;
}

div.gp-logo-bottom-left {
  bottom: 15px;
}

